body {
  padding-right: 15px;
  padding-left: 15px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.form-main {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.form-input {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .9s ease-in-out;
  -o-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

.form-input:hover {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0
}

.form-input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0
}

.button {
  text-decoration: none;
  display: inline;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-full {
  width: 105%;
  margin-left: auto;
  margin-right: auto;
}

.btn-green {
  color: #fff;
  border: 1px solid #086810;
  background-color: #0fa811;
}

.btn-green:hover {
  background-color: #086810;
  border: 1px solid #0fa811;
  padding: 6px 9px;
}

.btn-red {
  color: #fff;
  border: 1px solid #a1320e;
  background-color: #d73917;
}

.btn-red:hover {
  background-color: #a1320e;
  border: 1px solid #d73917;
  padding: 6px 9px;
}

.table {
  /* width: 100%; */
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #eceeef;
  background-color: #fff;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
}

.table th {
  color: #fff;
  background-color: #8bcced;
}

.table tbody {
  border-top: 2px solid #eceeef;
}


.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, .040);
}

.table-group {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar
}
