@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url('../fonts/codropsicons/codropsicons.eot');
  src: url('../fonts/codropsicons/codropsicons.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

body {
  background: #c9c9c9;
  color: #fff;
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.right {
  float: right!important;
}
.left {
  float: left;
}
.header,
.top {
  font-family: 'Lato', Arial, sans-serif;
}
.top {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.69em;
  line-height: 2.2;
  font-weight: 700;
  position: absolute;
  top: 0;
  vertical-align: middle;
  text-align: center;
}
#notify {
  position: fixed;
  top: 10%;
  left: 2.5%;
  right: 2.5%;
  z-index: 99999;
  width: 95%;
  min-height: 50px;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
}
#notify #notify-title {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}
#notify #close {
  float: right;
  color: #fff !important;
}
#notify #close:visited,
#notify #close:hover,
#notify #close:focus {
  color: #fff !important;
}
.alert-error {
  background-color: #e0240baf;
}
.alert-success {
  background-color: #11bbaad3;
}
.visible {
  visibility: visible !important;
  -webkit-transition: all .9s ease-in-out;
  -o-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

.header {
  margin: 0 auto 3em;
  padding-top: 0em;
  padding-bottom: 3em;
  min-height: 300px;
  text-align: center;
  background-image: url("../images/overlay.png"), url("../images/pic.jpg");
  background-size: cover;
}
.header .inhead {
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 100px;
}
.header .inhead h1 {
  margin: 0;
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.5;
}

.header .inhead span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 100%;
  color: #fff;
}

#title {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
#subtitle {
  margin-top: 0px;
  color: #aaa;
}
.main {
  max-width: 69rem;
  margin: 0 auto;
}
.main-other {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10%;

}
.main-other h2 {
color: #555353;
}
.about{
  padding: 10px 5px;
}

.form-main {
  text-align: center;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.text-green {
  color: #03ee17;
}
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .9s ease-in-out;
  -o-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

.form-input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

.form-input:hover {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}

.form-input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}
.column {
  float: left;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.push-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column h3 {
  color: #333;
  font-size: 1.3rem;
  text-align: center;
}

.column p {
  font-weight: 200;
  font-size: 1.2rem;
  padding: 0 0 0.5em;
  margin: 0;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}

.button {
  font-size: 75%;
  border: none;
  padding: 0.6em 1.2em;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  font-weight: 400;
  outline: none;
}

.fab {
  position: fixed !important;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  background-color: #ed8151;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  padding-top: 20px;
  z-index: 9999;
}
.disappear {
  display: none;
}
.label-container {
  position: fixed !important;
  bottom: 18px;
  right: 70px;
  display: table;
  z-index: 9999;
  visibility: hidden;
}

#container {
  width: 280px;
  height: 36px;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .2em;
}

.inner-container:first-child {
  background: #e9e9e9;
  color: #a9a9a9;
}
.unhide {
  display: unset;
}
.hide {
  display: none;
}

.inner-container:nth-child(2) {
  background: #2e8dec;
  color: #fff;
  clip-path: inset(0 50% 0 0);
  transition: .3s cubic-bezier(0, 0, 0, 1);
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}

.label-text {
  color: #fff;
  background: rgba(85, 87, 88, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border: transparent;
  border-radius: 3px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: rgb(85, 87, 88);
  opacity: 0.5;
  margin-top: 10px;
}
a.fab + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.fab:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}

.sign-other {
  margin: 10px;
  text-align: center;
}
.sign-other .also {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.box {
  background-color: #fff;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
}

.top-50 {
  margin-top: 50px !important;
}
.btn-action {
  background: #ed8151;
}
.btn-action:hover,
.btn-action:active {
  background: #e86a32;
}

.btn-open {
  background: #2174f1;
}
.btn-open:hover,
.btn-open:active {
  background: #075d96;
}
.btn-green {
  color: #fff;
  border: 1px solid #086810;
  background-color: #0fa811;
}

.btn-green:hover {
  background-color: #086810;
  border: 1px solid #0fa811;
}

.btn-red {
  color: #fff;
  border: 1px solid #a1320e;
  background-color: #d73917;
}

.btn-red:hover {
  background-color: #a1320e;
  border: 1px solid #d73917;
}

.btn-full {
  width: 100%;
}

.related {
  text-align: center;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0em;
  clear: both;
  padding-top: 3em;
  color: #aaa;
}

.hamburger {
  float: right;
  margin-right: 2px;
  margin-top: 10px;
  padding: 2px;
}

.hamburger .line {
  width: 35px;
  height: 5px;
  background-color: #c9c9c9;
  display: block;
  margin: 6px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger:hover {
  cursor: pointer;
}

.big-nav{
  float: right;
    vertical-align: middle;
    height: 100%;
    margin-top: 20px;
    margin-right: 10px; 
    padding-bottom: 20px;
}

.big-nav a {
  font-size: 1rem;
  padding-left: 10px;
  color: #ccc;
}

.big-nav a:visited, .big-nav a:hover,.big-nav a:focus {
  color: #ccc;
}
.nav-other {
  background-color: #fff;
  color: #c9c9c9;
  position: fixed !important;
  top: 0%;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.062);
}



.nav-other #head {
  color: #c9c9c9;
  float: left;
  margin: 10px;
  font-size: 20px;
}
.nav-other #head a {
  color: #ccc;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px 10px 15px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  color: #222;
  font-weight: 600;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #fff;
}

.tab-panel {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.ride-list {
  list-style-type: none;
  padding-left: 0px;
}
.ride-list li {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

.ride-list li:nth-last-child(1) {
  border-bottom: transparent;
}
.ride-list li a,
.ride-list li a:visited {
  color: #222;
}
.ride-list h4 {
  margin-bottom: 0px;
}
.ride-list #passengers {
  display: block;
}
.visible-lg {
  display: none;
}
.visible-sm {
  display: inline;
}
.loader {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30%;
}

@keyframes pulse {
  0% {
    height: 0%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1.0);
  }
  20% {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.0);
  }
  50% {
    background: rgba(17, 217, 255, 1);
    box-shadow: 0 0 8px rgba(17, 217, 255, 0.8);
  }
  80% {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.0);
  }
  100% {
    height: 0%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1.0);
  }
}

.loader > ul {
  list-style: none;
  width: 120px;
  height: 120px;
  margin: 60px 80px;
}

.loader li {
  width: 4px;
  height: 30px;
  border-radius: 2px;
  background: #050505;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -2px;
  transform-origin: 2px 50px;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}

.loader li div {
  border-radius: 2px;
  width: 4px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  animation: pulse 6s normal infinite;
}

.loader ul > li:nth-of-type(1) {
  transform: rotate(0deg);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.loader ul > li:nth-of-type(1) > div {
  animation-delay: 100ms;
}

.loader ul > li:nth-of-type(2) {
  transform: rotate(30deg);
}

.loader ul > li:nth-of-type(2) > div {
  animation-delay: 200ms;
}

.loader ul > li:nth-of-type(3) {
  transform: rotate(60deg);
}

.loader ul > li:nth-of-type(3) > div {
  animation-delay: 300ms;
}

.loader ul > li:nth-of-type(4) {
  transform: rotate(90deg);
}

.loader ul > li:nth-of-type(4) > div {
  animation-delay: 400ms;
}

.loader ul > li:nth-of-type(5) {
  transform: rotate(120deg);
}

ul > li:nth-of-type(5) > div {
  animation-delay: 500ms;
}

.loader ul > li:nth-of-type(6) {
  transform: rotate(150deg);
}

.loader ul > li:nth-of-type(6) > div {
  animation-delay: 600ms;
}

.loader ul > li:nth-of-type(7) {
  transform: rotate(180deg);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
}

.loader ul > li:nth-of-type(7) > div {
  animation-delay: 700ms;
}

.loader ul > li:nth-of-type(8) {
  transform: rotate(210deg);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}

.loader ul > li:nth-of-type(8) > div {
  animation-delay: 800ms;
}

.loader ul > li:nth-of-type(9) {
  transform: rotate(240deg);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}
.loader ul > li:nth-of-type(9) > div {
  animation-delay: 900ms;
}

.loader ul > li:nth-of-type(10) {
  transform: rotate(270deg);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}
.loader ul > li:nth-of-type(10) > div {
  animation-delay: 1000ms;
}

ul > li:nth-of-type(11) {
  transform: rotate(300deg);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}

ul > li:nth-of-type(11) > div {
  animation-delay: 1100ms;
}

ul > li:nth-of-type(12) {
  transform: rotate(330deg);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}

ul > li:nth-of-type(12) > div {
  animation-delay: 1200ms;
}

/* screen sizes */

@media screen and (min-width: 0px) and (max-width: 600px) {
  .visible-sm {
   display: inline;
  }
  .visible-lg {
    display: none;
  }

}

@media screen and (min-width: 601px) and (max-width: 760px) {
  .visible-sm {
    display: none;
   }
   .visible-lg {
     display: inline;
   }
  .header {
    min-height: 200px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .visible-sm {
    display: none;
   }
   .visible-lg {
     display: inline;
   }
  .header {
    padding-top: 10%;
    min-height: 750px;
  }

  .column {
    width: 33.33%;
  }
  .about{
    padding: 0px 100px;
  }
  .inhead #type {
    font-size: 100px;
  }

  .inhead span#fix {
    font-size: 30px;
  }

  .inhead a.button {
    font-size: 75%;
    padding: 0.6em 1.2em;
    font-size: 2em;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 10%;
  }

 
}

@media screen and (min-width: 1025px) {
  .visible-sm {
    display: none;
   }
   .visible-lg {
     display: inline;
   }
  .header {
    padding-top: 10%;
    min-height: 750px;
  }
  .about{
    padding: 0px 100px;
  }
  .inhead #type {
    font-size: 100px;
  }

  .inhead span#fix {
    font-size: 30px;
  }
  
  .inhead a.button {
    font-size: 75%;
    padding: 0.6em 1.2em;
    font-size: 2em;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 10%;
  }

  .column {
    width: 33.33%;
  }

  .form-main {
    width: 500px;
    margin-top: 25px;
  }

  .form-main .button{
    height: 50px;
  }

  .form-input{
    height: 50px;
    margin-bottom: 20px
  }
}
